# Listing stats dataset creation

This notebook runs the dataset creation utilities from the project and displays the head() of the booking-level and listing-level datasets.

In [ ]:
# Imports and setup
import logging
from IPython.display import display
import pandas as pd

from ium_long_stay_patterns.src.helpers.create_listing_stats_dataset import (
    prepare_booking_data,
    aggregate_listing_stats,
    save_listing_stats,
)

logging.basicConfig(level=logging.INFO, format="%(levelname)s: %(message)s")
print("pandas:", pd.__version__)

2025-12-29 02:03:42.419 | INFO     | ium_long_stay_patterns.config:<module>:12 - PROJ_ROOT path is: /home/mateusz/IUM/ium-long-stay-patterns

pandas: 2.3.3

In [2]:
# Prepare booking-level data and show head
bookings = prepare_booking_data()
print("Bookings (head):")
display(bookings.head())

Bookings (head):

,action,user_id,timestamp,listing_id,booking_date,booking_duration,booking_id,length_of_stay,is_long_stay,is_short_stay
13,book_listing,24106857,2024-06-20T17:57:03.679984,15029864.0,2024-07-05,2024-07-14,be94e219-bf30-421b-b302-20200fd6c62f,9,1,0
26,book_listing,282184671,2021-10-13T08:30:23.928806,22865582.0,2021-11-10,2021-11-17,502fc059-493d-4e36-97dc-d9d474c184b8,7,1,0
42,book_listing,186476005,2017-07-29T19:14:04.296881,22651452.0,2017-09-19,2017-09-25,9924b641-503d-4a6b-b99f-72b81aab1f49,6,0,1
57,book_listing,490623831,2023-09-29T09:51:10.447896,37074370.0,2023-12-13,2023-12-17,75c9bd27-82d4-4b77-a132-2b06dc461b49,4,0,1
66,book_listing,195913655,2023-03-10T18:46:18.616484,29647110.0,2023-09-29,2023-10-03,ed79d469-f518-4fc6-a3f3-e7cc7f995aae,4,0,1

In [3]:
# Aggregate listing-level stats and show head
listing_stats = aggregate_listing_stats(bookings=bookings)
print("Listing stats (head):")
display(listing_stats.head())

Listing stats (head):

,listing_id,total_bookings,min_stay,max_stay,avg_stay,long_stay,short_stay
0,30419466,19,4,6,4.84,0,19
1,49982681,4,6,8,7.00,3,1
2,48800718,15,2,4,2.87,0,15
3,1101264403993187936,2,5,5,5.00,0,2
4,883790710439607743,7,4,5,4.57,0,7

In [5]:
# Save listing stats to CSV and display saved file head
saved = save_listing_stats()
print("Saved listing stats to 'data/processed/listings_stats.csv'")
display(pd.read_csv("/home/mateusz/IUM/ium-long-stay-patterns/data/processed/listings_stats.csv").head())

INFO: Saved listing stats to /home/mateusz/IUM/ium-long-stay-patterns/data/processed/listings_stats.csv

Saved listing stats to 'data/processed/listings_stats.csv'

,listing_id,total_bookings,min_stay,max_stay,avg_stay,long_stay,short_stay
0,30419466,19,4,6,4.84,0,19
1,49982681,4,6,8,7.00,3,1
2,48800718,15,2,4,2.87,0,15
3,1101264403993187936,2,5,5,5.00,0,2
4,883790710439607743,7,4,5,4.57,0,7